# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage
*.lcov

# Next.js
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.idea
.vscode
*.swp
*.swo
*~

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env.production
.env.development

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
database-debug.log
pubsub-debug.log

# OS
Thumbs.db
.Spotlight-V100
.Trashes

